apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: understack-cluster-issuer
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  acme:
    email: annnachokanna@gmail.com
    privateKeySecretRef:
      name: letsencrypt-prod
    server: https://acme-v02.api.letsencrypt.org/directory
    solvers:
    - http01:
        ingress:
          ingressClassName: nginx
